<h1>Add new song</h1>
<form>
  <%= simple_form_for @song, html: { class: "form-group" } do |f| %>
    <%= f.input :title, label: false, placeholder: "Title", class: "form-control" %>
    <%= f.association :artist %>
    <%= f.submit "Add".html_safe, class: "btn btn-sm btn-primary" %>
  <% end %>
</form>
