<h1>Add new artist</h1>
<p>
<%= simple_form_for @artist do |f| %>
  <%= f.input :name, label: false, placeholder: "Name" %>
  <%= f.submit "Add".html_safe, class: "btn btn-sm btn-primary" %>
<% end %>
</p>
